body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fbc561;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainpage {
  background-color: rgb(137, 180, 149);
  padding: 1px;
}
.black {
  color: black;
}
.imgborder {
  border-radius: 5%;
}
.aboutimage {
  height: 35%;
  width: 90%;
  display: flex;
  margin-left: 69px;
  /* border-radius: 30%; */
}
.change {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.change:hover {
  color: #e0ddd7;
  transform: scale(1.2);
}
